@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}
